.booksList {
	width: 79%;
	margin: 2rem 0;
}

.booksList li {
	margin: 0.3rem 0;
	border-radius: 10px;
	background: #2e2e2e;
	color: #e0e0e0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}

.booksList li div {
	display: flex;
}

.booksList li div span {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.booksList li img {
	width: 60px;
	border-radius: 10px;
	margin-right: 0.6rem;
}

.booksList li div span p {
	&:nth-child(1) {
		font-weight: 800;
	}
}

.booksList li button {
	background: transparent;
	color: #e0e0e0;
	border: none;
	font-size: 1.8rem;
	height: fit-content;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover{
        transform: scale(1.3);
        color: red;
    }
}
