.library {
	margin: 2rem 0;
	display: flex;
	justify-content: space-between;
}

.fav {
	width: 20%;
	list-style: none;
	background: #1ab30f;
	border-radius: 10px;
	min-height: 200px;
	height: fit-content;
	padding: 1rem 0.4rem;
	font-size: 1.1rem;
	font-weight: 500;
}

.fav li {
	display: flex;
	align-items: center;
	background: #12850a;
	padding: 0.3rem 0.6rem;
	border-radius: 10px;
	margin: 0.3rem 0;
	&:nth-child(1) {
		background: transparent;
		font-size: 1.3rem;
		font-weight: 800;
	}
}

.fav li img {
	width: 35px;
	margin-right: 0.4rem;
	border-radius: 5px;
}

.booksList {
	width: 78%;
}

.booksList li {
	margin-bottom: 0.6rem;
	border-radius: 10px;
	background: #2e2e2e;
	color: #e0e0e0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}

.booksList li div {
	display: flex;
}

.booksList li div span {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.booksList li img {
	width: 60px;
	border-radius: 10px;
	margin-right: 0.6rem;
}

.booksList li div span a {
	font-weight: 800;
	color: #e0e0e0;
	text-decoration: none;
}

.booksList li button {
	background: transparent;
	color: #e0e0e0;
	border: none;
	font-size: 1.8rem;
	height: fit-content;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	&:hover {
		transform: scale(1.3);
		color: red;
	}
}

.liked {
	color: red !important;
}

@media only screen and (max-width: 1000px) {
	.fav {
		width: 37%;
	}
	.booksList {
		width: 60%;
	}
}